@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,400;0,500;0,600;0,700;1,300;1,700&family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Prompt", "sans-serif";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background-color: #c4f5cb;
}

/* styles.css */

.recipe-card {
  width: 300px;
  height: 400px;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.recipe-image {
  flex: 0 0 45%;
  position: relative;
}

.recipe-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tag {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ff6d2c;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 4px;
}

.recipe-details {
  padding: 20px;
  background-color: #f7f7f7;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recipe-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.nutritional-info {
  margin-top: 20px;
}

.nutrition-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.nutrition-label {
  font-weight: bold;
  color: #666;
}

.nutrition-value {
  color: #333;
}

.recipe-card:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.recipe-card:hover .recipe-title {
  color: #ff6d2c;
}

.recipe-card:hover .tag {
  background-color: #ff835c;
}

.recipe-card:hover .nutrition-label {
  color: #ff6d2c;
}
